@charset "utf-8";

/*upの共通設定
（待機中の設定）
---------------------------------------------------------------------------*/
.up {
	position: relative;
	opacity: 0;		/*透明度（透明の状態）*/
}


/*up
（要素が見えたら実行するアクションの設定）
---------------------------------------------------------------------------*/
.upstyle {
	opacity: 1;				/*透明度（色が100%出た状態）*/
	transition: 1.5s 0.4s;	/*1.5s(秒)はアニメーションの実行時間。0.4s(秒)待機してからスタート。*/
}


/*upスタイル。下から上にフェードインしてくるスタイル
---------------------------------------------------------------------------*/
/*待機中の設定*/
.up {
	bottom: -20px;	/*基準値の下20pxの場所からスタート*/
}

/*要素が見えたら実行するアクション*/
.upstyle {
	bottom: 0px;	/*基準値まで戻す*/
}
